version: '3'
services:
  postgres:
    image: postgres:16
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_DB=medusa-store
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  redis:
    image: redis:latest
    ports:
      - "6379:6379"

  medusa-backend:
    image: node:20
    working_dir: /app
    ports:
      - "9000:9000"
    volumes:
      - .:/app
    command: sh -c "npm install -g @medusajs/medusa-cli && tail -f /dev/null"
    depends_on:
      - postgres
      - redis

volumes:
  postgres-data:
